.navigation a:link, .navigation a:visited {
  text-decoration: none;
  color: white;
}

.navigation a:hover, .navigation a:active {
    text-decoration: underline;
    color: white;
}

.about_list a:link, .about_list a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.about_list a:hover, .about_list a:active {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.logo {
  float: left;
  display: inline-block;
  height
}

#title {
  float: left;
  font-weight: bold;
  display: inline-block;
  position: relative;
  height: 10px;
  padding: 0;
}


.about_list { 
  color: white;
  text-align: left;
  position: relative;
  font-size: 20px;
  float: right;
  clear: both;
}

.list {
  display: inline-block;
  padding-top: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding 0;

}

.navigation li {
  display: inline-block;
  font-size: 30px;
  color: white;
  border-right: 1px solid white;
  text-align: center;
  padding-right: 8px;
 
}

.navigation li:last-child {
  border-right: none;
  padding: 0;
}
  

.navigation {
  color: white;
  text-align: right;
}

.image {
  padding-right: 100px;
}


img {
  height: 400px; 
  width: 400px;
  border-radius: 200px;
  display: inline-block;
  float: left;
  position: relative;
  top: 100px;
  left: 100px;
  clear: both;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #EE5050;
  color: white;
}

#description {
  position:relative;
  display: inline-block;
  top: 250px;
  text-align: center;
}
