* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  text-align: center;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FA434B;
  flex-direction: column;
  padding: 1em;
}

.profile_image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  object-fit: cover;
}
/* Typography */
.title {
  font-size: 4em;
}

h1 {
  margin: 0;
}

.description {
  display: block;
  font-size: 1.2em;
  padding-top: 0.5em;
  max-width: 40em;
  line-height: 1.6;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  padding: 0;
  margin: 0;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.social_icons li {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 60rem) {
  html { font-size: 75%;}
}

@media (max-width: 35rem) {
  html { font-size: 65%;}
  
  .profile_image {
    width: 8em;
    height: 8em;
    margin-top: 0;
  }
  
  .title {
    font-size: 3em;
  }
  
  .social_icons {
    gap: 0.5em;
  }
}
/*border-bottom: 0.15em solid #222222; /* Change the color of the underline */
/* Social Media Icons  */

.social_icons a {
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 0.7;
}

.social-logo {
  width: 3.5em;
  height: 3.5em;
  display: inline-block;
}

.hf-emoji {
  font-size: 2.8em;
  line-height: 1;
  vertical-align: middle;
  width: auto;
  height: auto;
}

.description a {
  color: white;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.description .email {
  margin-top: 1em;
  text-align: center;
}

.link-icon {
  font-size: smaller; /* Adjust the size of the icon */
  margin-right: 2px; /* Adjust as needed to control spacing between icon and link text */
}

